@charset "UTF-8";
/**
 * @author  Lucas Motta (@elmotta)
 *
 * This CSS structure follows the ITCSS Architecture developed by
 * Harry Roberts (@csswizardry) and its main goal is to maintain a
 * sane and scalable architecture for our CSS.
 *
 * To read more about:
 * - http://itcss.io
 * - http://bit.ly/1OHRsEw
 * - https://speakerdeck.com/dafed/managing-css-projects-with-itcss
 */
/**
 * _settings.global.scss
 *
 * Any other setting that does not fit anywhere else. Try always to keep
 * the namespace consistent.
 */
/**
 * _settings.color.scss
 *
 * Your color palette should sit here and always follow the same namespace:
 * `$color-`
 */
/**
 * _settings.typography.scss
 *
 * You can override any typography inuitcss settings here.
 * For example, if you want to change the size of the h1 heading:
 *
 * $inuit-heading-size-1: 48px;
 *
 * Read more avaiable properties:
 * https://github.com/inuitcss/base.headings/blob/master/_base.headings.scss
 */
@font-face {
  font-family: "JosefinSans-SemiBold";
  src: url("../fonts/JosefinSans-SemiBold.eot");
  src: url("../fonts/JosefinSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/JosefinSans-SemiBold.woff") format("woff"), url("../fonts/JosefinSans-SemiBold.ttf") format("truetype"), url("../fonts/JosefinSans-SemiBold.svg#fs_joeylight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "JosefinSans-Bold";
  src: url("../fonts/JosefinSans-Bold.eot");
  src: url("../fonts/JosefinSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/JosefinSans-Bold.woff") format("woff"), url("../fonts/JosefinSans-Bold.ttf") format("truetype"), url("../fonts/JosefinSans-Bold.svg#fs_joeylight") format("svg");
  font-weight: normal;
  font-style: normal; }

h1 {
  color: #f3f3f2;
  font-size: 56px;
  font-family: "JosefinSans-Bold";
  line-height: 58px;
  text-transform: uppercase; }

h2 {
  color: #2d2d2d;
  font-size: 30px;
  font-family: "JosefinSans-Bold";
  font-weight: normal;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase; }

h3 {
  font-family: "JosefinSans-Bold";
  color: #2d2d2d;
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase; }

li {
  color: #2d2d2d;
  font-size: 20px;
  font-family: "JosefinSans-Bold";
  line-height: 20px;
  list-style-type: none;
  text-transform: uppercase; }

a {
  color: #2d2d2d;
  font-size: 20px;
  font-family: "JosefinSans-Bold";
  line-height: 20px;
  list-style-type: none;
  text-transform: uppercase; }

p {
  color: #2d2d2d;
  font-size: 20px;
  font-family: "JosefinSans-SemiBold";
  line-height: 20px; }

@media screen and (min-width: 768px) and (max-width: 1120px) {
  li {
    font-size: 15px; } }

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 20px !important; }
  li {
    font-size: 15px; }
  p {
    font-size: 12px; } }

/**
 * _settings.default.scss
 *
 * Your shouldn't modify this directly - you can try the other settings,
 * like color.scss, typography.scss.
 */
/*!
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */
/**
 * Shortcut to create the base of a pseudo-element (:after, :before)
 * You can set any position and dimension you want
 *
 * @param   List $pos     List containing the object's position and size
 *
 * e.g.
 * 		@include pseudo-content(top left width 100% height 100%);
 * 		@include pseudo-content(bottom 10px width 500px height 20px);
 * 		@include pseudo-content(top left);
 */
/**
 * Absolute position
 * e.g.
 * 		@include absolute(top right);
 * 		@include absolute(top 20px right);
 * 		@include absolute(top 20px right 100px);
 * 		@include absolute(top right bottom left);
 */
/**
 * Fixed position
 * e.g.
 * 		@include fixed(top right);
 * 		@include fixed(top 20px right);
 * 		@include fixed(top 20px right 100px);
 * 		@include fixed(top right bottom left);
 */
/**
 * Fixed position
 * e.g.
 * 		@include relative(top right);
 * 		@include relative(top 20px right);
 * 		@include relative(top 20px right 100px);
 * 		@include relative(top right bottom left);
 */
/**
 * Position mixin based on Hugo Giraudel's mixin
 * Includes also shortcuts for "absolute", "fixed" and "relative" positions
 */
/**
 * Mixin to create modules with the ability of extending other modules
 *
 * @type String $name       The name of your module
 * @type Map $args          Map with two parameters:
 *       String $extend     The class you want to extend (optional)
 *       String $silent     If the class should be silent or not,
 *       										most of the times it's useful for abstract modules
 *
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*------------------------------------*    #RESET
\*------------------------------------*/
/**
 * As well as using normalize.css, it is often advantageous to remove all
 * margins from certain elements.
 */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title],
dfn[title] {
  cursor: help; }

/**
 * Remove underlines from potentially troublesome elements.
 */
u,
ins {
  text-decoration: none; }

/**
 * Apply faux underlines to inserted text via `border-bottom`.
 */
ins {
  border-bottom: 1px solid; }

/*------------------------------------*    #BOX-SIZING
\*------------------------------------*/
/**
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*------------------------------------*    #SHARED
\*------------------------------------*/
/**
 * Where `margin-bottom` is concerned,this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once,here.
 */
ul, ol, dd {
  margin-left: 48px;
  margin-left: 3rem; }

/*------------------------------------*    #PAGE
\*------------------------------------*/
/**
 * High-, page-level styling.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 4. Prevent certain mobile browsers from automatically zooming fonts.
 * 5. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 */
html {
  font-size: 1em;
  /* [1] */
  line-height: 1.5;
  /* [1] */
  background-color: #f3f3f2;
  color: #151515;
  overflow-y: scroll;
  /* [2] */
  min-height: 100%;
  /* [3] */
  -webkit-text-size-adjust: 100%;
  /* [4] */
  -ms-text-size-adjust: 100%;
  /* [4] */
  -moz-osx-font-smoothing: grayscale;
  /* [5] */
  -webkit-font-smoothing: antialiased;
  /* [5] */ }

/*------------------------------------*    #PARAGRAPHS
\*------------------------------------*/
/**
 * The `.lede` class is used to make the introductory text (usually a paragraph)
 * of a document slightly larger: en.wikipedia.org/wiki/Lede_(news)
 */
.lede {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333; }

/*------------------------------------*    #HEADINGS
\*------------------------------------*/
/**
 * Headings 1–6.
 */
h1 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.33333; }

h2 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.6; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1; }

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2; }

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429; }

/*------------------------------------*    #IMAGES
\*------------------------------------*/
/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
img {
  max-width: 100%;
  /* [1] */
  font-style: italic;
  /* [2] */
  vertical-align: middle;
  /* [3] */ }

/**
 * 1. Google Maps breaks if `max-width: 100%` acts upon it; use their selector
 *    to remove the effects.
 * 2. If a `width` and/or `height` attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */
.gm-style img,
img[width],
img[height] {
  /* [2] */
  max-width: none; }

/*------------------------------------*    #LISTS
\*------------------------------------*/
/**
 * Remove extra vertical spacing when nesting lists.
 */
li > ul,
li > ol {
  margin-bottom: 0; }

html, body {
  width: 100%;
  height: 100%;
  background-clip: #f3f3f2; }

h1, h2, h3, h4, p, li, a {
  padding: 0;
  margin: 0; }

.main {
  height: 100%; }

/*------------------------------------*    #LAYOUT
\*------------------------------------*/
/**
 * The inuitcss layout system uses `box-sizing: border-box;` and
 * `display: inline-block;` to create an extremely powerful, flexible
 * alternative to the traditional grid system. Combine the layout items with
 * the widths found in `trumps.widths`.
 */
/**
 * Begin a layout group.
 */
.layout {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -24px; }

/**
     * 1. Cause columns to stack side-by-side.
     * 2. Space columns apart.
     * 3. Align columns to the tops of each other.
     * 4. Full-width unless told to behave otherwise.
     * 5. Required to combine fluid widths and fixed gutters.
     */
.layout__item {
  display: inline-block;
  /* [1] */
  padding-left: 24px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */ }

/*------------------------------------*    #PACK
\*------------------------------------*/
/**
 * The pack object simply causes any number of elements pack up horizontally to
 * automatically fill an equal, fluid width of their parent.
 */
/**
 * 1. Fill all available space.
 * 2. Cause children to be automatically equally sized.
 */
.pack {
  width: 100%;
  /* [1] */
  display: table;
  table-layout: fixed;
  /* [2] */ }

/**
     * Cause children to adopt table-like structure.
     */
.pack__item {
  display: table-cell; }

/*------------------------------------*    #MEDIA
\*------------------------------------*/
/**
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */
.media {
  display: block; }

.media__img {
  float: left;
  margin-right: 24px; }
  .media__img > img {
    display: block; }

.media__body {
  overflow: hidden;
  display: block; }
  .media__body,
  .media__body > :last-child {
    margin-bottom: 0; }

/*------------------------------------*    #FLAG
\*------------------------------------*/
/**
 * The flag object is a design pattern similar to the media object, however it
 * utilises `display: table[-cell];` to give us control over the vertical
 * alignments of the text and image. csswizardry.com/2013/05/the-flag-object
 */
/**
 * 1. Allows us to control vertical alignments
 * 2. Force the object to be the full width of its parent. Combined with [1],
 *    this makes the object behave in a quasi-`display: block;` manner.
 */
.flag {
  display: table;
  /* [1] */
  width: 100%;
  /* [2] */ }

/**
     * Items within a flag object. There should only ever be one of each.
     *
     * 1. Default to aligning content to their middles.
     */
.flag__img,
.flag__body {
  display: table-cell;
  vertical-align: middle;
  /* [1] */ }

/**
     * Flag images have a space between them and the body of the object.
     */
.flag__img {
  padding-right: 24px; }
  .flag__img > img {
    display: block;
    max-width: none; }

/**
     * The container for the main content of the flag object.
     *
     * 1. Forces the `.flag__body` to take up all remaining space.
     */
.flag__body {
  width: 100%;
  /* [1] */ }
  .flag__body,
  .flag__body > :last-child {
    margin-bottom: 0; }

/*------------------------------------*    #LIST-BARE
\*------------------------------------*/
/**
 * The list-bare object simply removes any indents and bullet points from lists.
 */
.list-bare {
  margin: 0;
  padding: 0;
  list-style: none; }

.scrolling-bg {
  position: relative;
  min-height: 100%;
  background-color: #f3f3f2; }

.fixed-bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/homescreen-bg.jpg");
  z-index: -1; }

.fixed-bg {
  overflow: hidden;
  position: relative; }
  .fixed-bg::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    background: url("/img/homescreen-bg.jpg") no-repeat center center;
    background-size: cover;
    will-change: transform;
    background-attachment: scroll;
    z-index: -1; }

.whiteStripe {
  height: 40px;
  background-color: #f3f3f2;
  width: 100%; }

.blueStripe {
  background-color: #8dc2d5;
  height: 20px;
  width: 100%; }

.intro--container {
  padding: 135px 20px 155px 20px;
  margin: 0 auto;
  max-width: 600px;
  width: 100%; }

.intro--container__content {
  border-top: solid 4px #8dc2d5;
  margin-top: 35px;
  padding-top: 35px;
  text-align: justify; }

.stopthejump {
  display: none;
  height: 80px;
  width: 100%; }

.imageContainer {
  height: 390px;
  width: 100%; }
  .imageContainer .leftImage {
    background-size: cover;
    background-repeat: none;
    background-position: center center;
    height: 100%;
    width: 49%;
    float: left; }
  .imageContainer .rightImage {
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 49%;
    float: right; }

.no-padding {
  padding-bottom: 0 !important; }

@media screen and (min-width: 768px) and (max-width: 1120px) {
  .imageContainer {
    height: 800px; }
    .imageContainer .leftImage {
      display: block;
      float: none;
      width: 100%;
      height: 400px;
      margin-bottom: 10px; }
    .imageContainer .rightImage {
      display: block;
      float: none;
      width: 100%;
      height: 400px; }
  .intro--container {
    padding-bottom: 65px;
    padding-top: 85px; } }

@media screen and (max-width: 767px) {
  .fixed-bg {
    background-attachment: scroll; }
  .intro--container {
    padding-top: 50px;
    padding-bottom: 40px; }
  .intro--container__content {
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px; }
  .imageContainer {
    height: 400px; }
    .imageContainer .leftImage {
      display: block;
      float: none;
      width: 100%;
      height: 200px;
      margin-bottom: 10px; }
    .imageContainer .rightImage {
      display: block;
      float: none;
      width: 100%;
      height: 200px; }
  .stopthejump {
    height: 0px; } }

/*auto-generated*/
/**
 * @module:   contact
 * @js:       ./source/js/module/contact/contact.js
 * @html:     ./source/js/module/contact/contact.html
 */
.contact .contactPanel {
  background-color: #e1e1e1;
  padding: 100px 0; }
  .contact .contactPanel .contactPanel--container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 60px; }
    .contact .contactPanel .contactPanel--container h3 {
      padding-bottom: 50px; }
    .contact .contactPanel .contactPanel--container .contactPanel--container__left {
      display: inline-block;
      width: 50%;
      padding-left: 0px;
      margin-right: 100px; }
      .contact .contactPanel .contactPanel--container .contactPanel--container__left h3 {
        text-align: left; }
      .contact .contactPanel .contactPanel--container .contactPanel--container__left input, .contact .contactPanel .contactPanel--container .contactPanel--container__left textarea {
        display: block;
        height: 40px;
        width: 100%;
        margin: 10px;
        margin-left: 0px;
        padding-left: 5px;
        padding-top: 5px;
        vertical-align: top;
        font-family: "JosefinSans-SemiBold";
        font-style: italic;
        resize: none; }
        .contact .contactPanel .contactPanel--container .contactPanel--container__left input label, .contact .contactPanel .contactPanel--container .contactPanel--container__left textarea label {
          position: absolute;
          top: 2px; }
        .contact .contactPanel .contactPanel--container .contactPanel--container__left input.message, .contact .contactPanel .contactPanel--container .contactPanel--container__left textarea.message {
          height: 150px;
          border: #e1e1e1; }
        .contact .contactPanel .contactPanel--container .contactPanel--container__left input.submit, .contact .contactPanel .contactPanel--container .contactPanel--container__left textarea.submit {
          max-width: 100%;
          padding: 0 10px;
          text-align: center;
          font-family: "JosefinSans-Bold";
          font-style: normal;
          background-color: #8dc2d5;
          text-transform: uppercase;
          border: none; }
          @media screen and (min-width: 768px) and (max-width: 1120px) {
            .contact .contactPanel .contactPanel--container .contactPanel--container__left input.submit, .contact .contactPanel .contactPanel--container .contactPanel--container__left textarea.submit {
              max-width: 100%; } }
    .contact .contactPanel .contactPanel--container .contactPanel--container__right {
      display: inline-block;
      width: 30%;
      vertical-align: top;
      text-align: center; }
      .contact .contactPanel .contactPanel--container .contactPanel--container__right p {
        padding-top: 10px; }

@media screen and (max-width: 767px) {
  .contact .contactPanel {
    padding-top: 35px; }
    .contact .contactPanel .contactPanel--container {
      padding-top: 0px; }
      .contact .contactPanel .contactPanel--container .contactPanel--container__right {
        padding-top: 50px;
        padding-left: 0;
        display: block;
        width: 100%; }
        .contact .contactPanel .contactPanel--container .contactPanel--container__right h3 {
          text-align: center;
          padding-bottom: 15px;
          font-size: 20px;
          font-weight: normal; }
      .contact .contactPanel .contactPanel--container .contactPanel--container__left {
        padding-left: 0;
        padding-top: 20px;
        display: block;
        width: 100%;
        text-align: center; }
        .contact .contactPanel .contactPanel--container .contactPanel--container__left h3 {
          text-align: center;
          padding-bottom: 25px;
          font-size: 20px; }
        .contact .contactPanel .contactPanel--container .contactPanel--container__left input.submit {
          width: 100%;
          padding-top: 3px; } }

/**
 * @module:   gallery
 * @js:       ./source/js/module/gallery/gallery.js
 * @html:     ./source/js/module/gallery/gallery.html
 */
.gallery .intro--container {
  padding-bottom: 0px; }

.gallery .intro--container__content {
  padding-bottom: 20px; }

.gallery .photos {
  max-width: 950px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding-bottom: 40px; }
  .gallery .photos .images {
    display: inline-block;
    padding: 10px;
    height: auto; }
    .gallery .photos .images .images__img {
      background-color: black;
      background-image: url("../img/magnifyingGlass.png");
      background-repeat: no-repeat;
      background-size: 35px 27px;
      background-position: 47% center; }
      .gallery .photos .images .images__img img {
        width: 100%;
        height: 100%;
        cursor: pointer; }
        .gallery .photos .images .images__img img:hover {
          opacity: 0.4;
          transition: opacity 0.2s ease-in; }
    .gallery .photos .images.image0 {
      float: left;
      width: 50%; }
    .gallery .photos .images.image1 {
      width: 50%;
      vertical-align: top; }
    .gallery .photos .images.image2 {
      width: 28%; }
    .gallery .photos .images.image3 {
      width: 28%; }
    .gallery .photos .images.image4 {
      vertical-align: top;
      width: 44%; }
    .gallery .photos .images.image5, .gallery .photos .images.image6 {
      width: 50%; }
    .gallery .photos .images.image7, .gallery .photos .images.image8, .gallery .photos .images.image9 {
      width: 33%; }
    .gallery .photos .images.image10 {
      float: left;
      width: 350px;
      height: 400px; }
    .gallery .photos .images.image11 {
      width: 300px;
      vertical-align: top;
      height: 200px; }
      .gallery .photos .images.image11 .images__img img {
        height: 200px; }
    .gallery .photos .images.image12 {
      width: 300px;
      height: 200px;
      vertical-align: top; }
      .gallery .photos .images.image12 .images__img img {
        height: 200px; }
    .gallery .photos .images.image13 {
      width: 600px;
      vertical-align: top;
      margin-top: 20px; }
      .gallery .photos .images.image13 img {
        height: 200px; }
    .gallery .photos .images.image14 {
      width: 350px;
      float: left; }
      .gallery .photos .images.image14 .images__img img {
        height: 300px; }
    .gallery .photos .images.image15 {
      width: 300px;
      vertical-align: top; }
      .gallery .photos .images.image15 .images__img img {
        height: 300px; }
    .gallery .photos .images.image16 {
      width: 300px;
      vertical-align: top; }
      .gallery .photos .images.image16 .images__img img {
        height: 300px; }
    .gallery .photos .images.image17 {
      width: 475px;
      vertical-align: top; }
      .gallery .photos .images.image17 .images__img img {
        height: 250px; }
    .gallery .photos .images.image18 {
      width: 475px;
      vertical-align: top; }
      .gallery .photos .images.image18 .images__img img {
        height: 250px; }
  .gallery .photos .slider, .gallery .photos .cross {
    display: none; }

.gallery .background {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  display: table;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 10;
  max-width: none; }
  .gallery .background .slider {
    background: url("../img/arrow.png") no-repeat;
    background-size: 100%;
    height: 90px;
    width: 60px;
    display: inline-block;
    position: absolute;
    bottom: 50%;
    margin-bottom: -45px;
    cursor: pointer; }
    .gallery .background .slider__prev {
      left: 30px;
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
    .gallery .background .slider__next {
      right: 30px;
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg); }
    .gallery .background .slider:hover {
      opacity: 0.6; }
  .gallery .background .cross {
    display: block;
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 40px;
    color: #ffffff;
    cursor: pointer; }
    .gallery .background .cross:hover {
      opacity: 0.6; }
  .gallery .background .activeImage {
    width: 60%;
    height: 85%;
    text-align: center;
    z-index: 1002;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .gallery .background .activeImage img {
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

@media screen and (min-width: 768px) and (max-width: 1120px) {
  .gallery .background .activeImage {
    width: 80%; }
  .gallery .photos {
    max-width: 720px; }
    .gallery .photos .images.image10 {
      float: left;
      width: 280px;
      height: 310px; }
    .gallery .photos .images.image11 {
      width: 220px;
      height: auto; }
      .gallery .photos .images.image11 .images__img img {
        height: 160px; }
    .gallery .photos .images.image12 {
      width: 220px;
      height: auto; }
      .gallery .photos .images.image12 .images__img img {
        height: 160px; }
    .gallery .photos .images.image13 {
      width: 440px;
      height: auto;
      margin-top: 0; }
      .gallery .photos .images.image13 .images__img img {
        height: 150px; }
    .gallery .photos .images.image14 {
      width: 280px;
      height: auto;
      margin-top: 0; }
      .gallery .photos .images.image14 .images__img img {
        height: 230px; }
    .gallery .photos .images.image15 {
      width: 220px;
      height: auto;
      margin-top: 0; }
      .gallery .photos .images.image15 .images__img img {
        height: 230px; }
    .gallery .photos .images.image16 {
      width: 220px;
      height: auto;
      margin-top: 0; }
      .gallery .photos .images.image16 .images__img img {
        height: 230px; }
    .gallery .photos .images.image17 {
      width: 360px;
      height: auto;
      margin-top: 0; }
      .gallery .photos .images.image17 .images__img img {
        height: 230px; }
    .gallery .photos .images.image18 {
      width: 360px;
      height: auto;
      margin-top: 0; }
      .gallery .photos .images.image18 .images__img img {
        height: 230px; } }

@media screen and (max-width: 767px) {
  .gallery .photos .images {
    width: 100% !important;
    height: auto !important;
    display: block;
    float: none !important;
    padding: 10px 40px; }
    .gallery .photos .images .images__img {
      background: none; }
      .gallery .photos .images .images__img img {
        height: auto !important; }
  .gallery .background .slider {
    bottom: 10%;
    height: 45px;
    width: 30px; }
    .gallery .background .slider__prev {
      left: 20px; }
    .gallery .background .slider__next {
      right: 20px; }
  .gallery .background .cross {
    right: 20px;
    font-size: 30px; }
  .gallery .background .activeImage {
    margin: 0 40px;
    width: 80%; } }

/**
 * @module:   home
 * @js:       ./source/js/module/home/home.js
 * @html:     ./source/js/module/home/home.html
 */
.home .imageContainer .leftImage {
  background-image: url("../img/left-home-img.jpg"); }

.home .imageContainer .rightImage {
  background-image: url("../img/right-home-img.jpg"); }

.home .quotePanel {
  height: 330px;
  background-color: #8dc2d5;
  display: table;
  width: 100%; }
  .home .quotePanel .quotePanel--content {
    display: table-cell;
    vertical-align: middle; }
    .home .quotePanel .quotePanel--content p {
      color: #f3f3f2;
      text-align: center;
      font-size: 30px;
      line-height: 30px; }

.home .contactPanel {
  padding: 70px;
  text-align: center; }
  .home .contactPanel .emailImg {
    background: url("../img/mailIcon.png") no-repeat 100%;
    height: 30px;
    width: 40px;
    margin-left: -20px;
    left: 50%;
    position: absolute;
    margin-bottom: 30px; }
  .home .contactPanel h2 {
    margin-top: 60px; }
  .home .contactPanel .email {
    padding-top: 10px; }
  .home .contactPanel .number {
    padding-top: 10px; }

@media screen and (max-width: 767px) {
  .home .quotePanel .quotePanel--content p {
    padding-left: 10px;
    padding-right: 10px; } }

/**
 * @module:   homescreen
 * @js:       ./source/js/module/homescreen/homescreen.js
 * @html:     ./source/js/module/homescreen/homescreen.html
 */
.homescreen {
  display: table;
  width: 100%;
  height: 100%; }
  .homescreen .heading--container {
    display: table-cell;
    vertical-align: middle; }
    .homescreen .heading--container h1 {
      border: solid 4px #f3f3f2;
      padding: 5px 10px 0px 10px;
      width: auto;
      text-align: center;
      position: absolute;
      left: 50%;
      margin-left: -150px; }
  .homescreen .arrow {
    background: url("../img/arrow.png") no-repeat;
    background-size: 100%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -25px;
    height: 20px;
    width: 40px; }
  @media screen and (max-width: 767px) {
    .homescreen .heading--container h1 {
      width: 260px;
      margin-left: -130px;
      font-size: 2rem; } }

/**
 * @module:   info
 * @js:       ./source/js/module/info/info.js
 * @html:     ./source/js/module/info/info.html
 */
.info {
  background-color: #f3f3f2; }
  .info .imageContainer .leftImage {
    background-image: url("../img/left-info-img.jpg"); }
  .info .imageContainer .rightImage {
    background-image: url("../img/right-info-img.jpg"); }
  .info .floorPlanPanel {
    background-color: #8dc2d5;
    width: 100%;
    text-align: center;
    display: table; }
    .info .floorPlanPanel img {
      display: inline-block;
      vertical-align: middle;
      padding: 70px 45px; }
  .info .accomodation {
    background-color: #e1e1e1;
    width: 100%; }
  @media screen and (max-width: 767px) {
    .info .floorPlanPanel img {
      padding: 40px 20px; } }

/**
 * @module:   localArea
 * @js:       ./source/js/module/localArea/localArea.js
 * @html:     ./source/js/module/localArea/localArea.html
 */
.localArea {
  background-color: #f3f3f2; }
  .localArea .imageContainer .leftImage {
    background-image: url("../img/img--eygalieres__left.jpg"); }
  .localArea .imageContainer .rightImage {
    background-image: url("../img/img--eygalieres__right.jpg"); }
  .localArea .map--panel #map {
    width: 100%;
    height: 400px;
    background-color: #CCC; }
  .localArea .nearestVillage--panel {
    padding-top: 70px; }
    .localArea .nearestVillage--panel .house {
      background: url("../img/house.png") no-repeat;
      background-size: 100%;
      height: 45px;
      margin: 0 auto;
      margin-bottom: 25px;
      width: 54px; }
    .localArea .nearestVillage--panel h2 {
      margin-bottom: 60px; }
    .localArea .nearestVillage--panel ul {
      background-color: transparent;
      /* padding: 0 120px; */
      margin: 0 auto;
      text-align: center;
      margin-bottom: 75px;
      width: 80%;
      max-width: 1060px; }
      .localArea .nearestVillage--panel ul li {
        background-color: #e1e1e1;
        display: inline-block;
        width: 30%;
        padding: 30px 0;
        margin: 10px;
        text-align: center; }
        .localArea .nearestVillage--panel ul li.active, .localArea .nearestVillage--panel ul li:hover {
          background-color: #8dc2d5;
          transition: 0.3s background-color ease-in; }
        .localArea .nearestVillage--panel ul li a {
          font-size: 20px;
          text-decoration: none;
          color: #2d2d2d; }
  .localArea .mapHeading {
    padding-bottom: 40px; }
    .localArea .mapHeading .intro--container__content {
      margin-top: 10px;
      padding-top: 0px; }
  .localArea .nearestVillage--info {
    background-color: #e1e1e1;
    width: 100%; }
    .localArea .nearestVillage--info h3 {
      font-size: 20px;
      padding-bottom: 30px;
      font-weight: normal; }
    .localArea .nearestVillage--info .tab-pane {
      display: block;
      margin: 0 auto; }
      .localArea .nearestVillage--info .tab-pane .content--main {
        padding: 70px 0;
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .localArea .nearestVillage--info .tab-pane .content--main .content--main__writing {
          padding-right: 20px;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1; }
          .localArea .nearestVillage--info .tab-pane .content--main .content--main__writing p {
            padding-bottom: 20px; }
        .localArea .nearestVillage--info .tab-pane .content--main .content--main__img {
          -webkit-flex: 0.5;
          -ms-flex: 0.5;
          flex: 0.5;
          max-height: 100%; }
          .localArea .nearestVillage--info .tab-pane .content--main .content--main__img.aix {
            background: url("../img/img--village__aix.jpg") no-repeat;
            background-size: 100% auto;
            background-position: top; }
          .localArea .nearestVillage--info .tab-pane .content--main .content--main__img.arles {
            background: url("../img/img--village__arles--cropped.jpg") no-repeat;
            background-size: 100% auto;
            background-position: center; }
          .localArea .nearestVillage--info .tab-pane .content--main .content--main__img.avignon {
            background: url("../img/img--village__avignon--cropped.jpg") no-repeat;
            background-size: 100% auto;
            background-position: center; }
          .localArea .nearestVillage--info .tab-pane .content--main .content--main__img.marseille {
            background: url("../img/img--village__marseille--cropped.jpg") no-repeat;
            background-size: 100% auto;
            background-position: center; }
          .localArea .nearestVillage--info .tab-pane .content--main .content--main__img.lesBaux {
            background: url("../img/img--village__lesBaux--cropped.jpg") no-repeat;
            background-size: 100% auto;
            background-position: center; }
          .localArea .nearestVillage--info .tab-pane .content--main .content--main__img.stRem {
            background: url("../img/img--village__stRemy--cropped.jpg") no-repeat;
            background-size: 100% auto;
            background-position: center; }
        .localArea .nearestVillage--info .tab-pane .content--main .content--main__writingBottom p {
          padding-bottom: 20px; }
      .localArea .nearestVillage--info .tab-pane .content--second {
        width: 80%;
        max-width: 1000px;
        margin: 0 auto; }
        .localArea .nearestVillage--info .tab-pane .content--second .content--second__block {
          vertical-align: top;
          display: inline-block;
          width: 30%;
          padding: 40px 0px; }
          .localArea .nearestVillage--info .tab-pane .content--second .content--second__block p {
            line-height: 25px; }
  @media screen and (min-width: 768px) and (max-width: 1120px) {
    .localArea .nearestVillage--panel ul {
      padding: 0 0px; }
      .localArea .nearestVillage--panel ul li {
        width: 46%;
        padding: 20px; }
    .localArea .nearestVillage--info h3 {
      padding-bottom: 15px; }
    .localArea .nearestVillage--info .tab-pane .content--main {
      width: 90%;
      display: block; }
      .localArea .nearestVillage--info .tab-pane .content--main .content--main__writing {
        width: 100%;
        padding-right: 0px;
        text-align: justify;
        -webkit-flex: none;
            -ms-flex: none;
                flex: none; }
        .localArea .nearestVillage--info .tab-pane .content--main .content--main__writing .no-padding {
          padding-bottom: 20px !important; }
      .localArea .nearestVillage--info .tab-pane .content--main .content--main__img {
        display: block;
        flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        margin: 0 auto;
        width: 100%; }
    .localArea .nearestVillage--info .tab-pane .content--second {
      width: 90%;
      margin: 0 auto; }
      .localArea .nearestVillage--info .tab-pane .content--second .content--second__block {
        display: block;
        width: 100%; } }
  @media screen and (max-width: 767px) {
    .localArea .nearestVillage--panel {
      padding-top: 35px; }
      .localArea .nearestVillage--panel h2 {
        margin-bottom: 25px; }
      .localArea .nearestVillage--panel ul {
        padding: 0 10px;
        text-align: center; }
        .localArea .nearestVillage--panel ul li {
          width: 100%;
          padding: 15px;
          margin: 5px; }
      .localArea .nearestVillage--panel #nav-tab {
        width: 90%;
        text-align: center; }
    .localArea .nearestVillage--info h3 {
      padding-bottom: 15px; }
    .localArea .nearestVillage--info .tab-pane .content--main {
      width: 80%; }
      .localArea .nearestVillage--info .tab-pane .content--main .content--main__writing {
        width: 100%;
        padding-right: 0px;
        text-align: justify;
        -webkit-flex: auto;
            -ms-flex: auto;
                flex: auto; }
      .localArea .nearestVillage--info .tab-pane .content--main .content--main__img {
        display: block;
        margin: 0 auto;
        -webkit-flex: auto;
            -ms-flex: auto;
                flex: auto; }
    .localArea .nearestVillage--info .tab-pane .content--second {
      width: 90%;
      margin: 0 auto; }
      .localArea .nearestVillage--info .tab-pane .content--second .content--second__block {
        display: block;
        width: 100%; } }

/**
 * @module:   nav
 * @js:       ./source/js/module/nav/nav.js
 * @html:     ./source/js/module/nav/nav.html
 */
.nav {
  background-color: #e1e1e1;
  width: 100%;
  z-index: 2;
  height: 80px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); }
  .nav .burger {
    display: none; }
  .nav .navbar--container {
    text-align: center;
    width: 85%;
    max-width: 1100px;
    margin: 0 auto; }
    @media screen and (max-width: 900px) {
      .nav .navbar--container {
        width: 100%; } }
    .nav .navbar--container li {
      display: inline-block;
      width: 10%;
      text-align: center;
      text-decoration: none;
      padding: 35px 0px 15px;
      margin: 0 20px;
      min-width: 160px;
      border-bottom: 10px solid #e1e1e1; }
      .nav .navbar--container li.nav-underline {
        position: relative; }
        .nav .navbar--container li.nav-underline:after {
          display: block;
          position: absolute;
          left: 0;
          bottom: -10px;
          width: 0;
          height: 10px;
          background-color: #8dc2d5;
          content: "";
          transition: width 0.3s; }
        .nav .navbar--container li.nav-underline:hover:after {
          width: 100%; }
      .nav .navbar--container li.active {
        border-bottom: 10px solid #8dc2d5; }
  .nav.fixed {
    position: fixed;
    top: 0;
    height: 80px;
    z-index: 1; }
  @media screen and (max-width: 1200px) {
    .nav .navbar--container li {
      font-size: 15px;
      min-width: 100px; } }
  @media screen and (max-width: 767px) {
    .nav {
      background-color: #8dc2d5;
      position: fixed;
      top: 0px;
      left: 0px;
      height: auto;
      display: block; }
      .nav .burger {
        display: block;
        position: fixed;
        left: 10px;
        top: 10px; }
        .nav .burger .burger--bar {
          background-color: #e1e1e1;
          margin: 3px 0;
          height: 4px;
          width: 25px; }
      .nav .navbar--container {
        text-align: left;
        width: 90%;
        margin: 0 auto;
        margin-left: 35px;
        display: none; }
        .nav .navbar--container.activeBurger {
          display: block; }
        .nav .navbar--container li {
          color: #e1e1e1;
          min-width: auto;
          width: 100%;
          margin: 0px;
          padding: 15px 10px;
          text-align: left;
          border-bottom: solid 1px #e1e1e1; }
          .nav .navbar--container li.nav-underline:after {
            display: none; }
          .nav .navbar--container li.active {
            border-bottom: 1px solid #e1e1e1;
            font-weight: bold; }
      .nav.fixed {
        height: auto; } }

/*------------------------------------*    #SPACING
\*------------------------------------*/
/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/*------------------------------------*    #SPACING-RESPONSIVE
\*------------------------------------*/
/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/*------------------------------------*    #WIDTHS
\*------------------------------------*/
/**
 * A series of width helper classes that you can use to size things like grid
 * systems. Classes can take a fraction-like format (e.g. `.u-2/3`) or a spoken-
 * word format (e.g. `.u-2-of-3`). Use these in your markup:
 *
 * <div class="u-7/12">
 */
.u-1\/1 {
  width: 100% !important; }

.u-1\/2 {
  width: 50% !important; }

.u-1\/3 {
  width: 33.33333% !important; }

.u-2\/3 {
  width: 66.66667% !important; }

.u-1\/4 {
  width: 25% !important; }

.u-2\/4 {
  width: 50% !important; }

.u-3\/4 {
  width: 75% !important; }

.u-1\/5 {
  width: 20% !important; }

.u-2\/5 {
  width: 40% !important; }

.u-3\/5 {
  width: 60% !important; }

.u-4\/5 {
  width: 80% !important; }

/*------------------------------------*    #WIDTHS-RESPONSIVE
\*------------------------------------*/
/**
 * Responsive width classes based on your responsive settings.
 */
@media screen and (max-width: 44.9375em) {
  .u-1\/1-palm {
    width: 100% !important; }
  .u-1\/2-palm {
    width: 50% !important; }
  .u-1\/3-palm {
    width: 33.33333% !important; }
  .u-2\/3-palm {
    width: 66.66667% !important; }
  .u-1\/4-palm {
    width: 25% !important; }
  .u-2\/4-palm {
    width: 50% !important; }
  .u-3\/4-palm {
    width: 75% !important; }
  .u-1\/5-palm {
    width: 20% !important; }
  .u-2\/5-palm {
    width: 40% !important; }
  .u-3\/5-palm {
    width: 60% !important; }
  .u-4\/5-palm {
    width: 80% !important; } }

@media screen and (min-width: 45em) and (max-width: 63.9375em) {
  .u-1\/1-lap {
    width: 100% !important; }
  .u-1\/2-lap {
    width: 50% !important; }
  .u-1\/3-lap {
    width: 33.33333% !important; }
  .u-2\/3-lap {
    width: 66.66667% !important; }
  .u-1\/4-lap {
    width: 25% !important; }
  .u-2\/4-lap {
    width: 50% !important; }
  .u-3\/4-lap {
    width: 75% !important; }
  .u-1\/5-lap {
    width: 20% !important; }
  .u-2\/5-lap {
    width: 40% !important; }
  .u-3\/5-lap {
    width: 60% !important; }
  .u-4\/5-lap {
    width: 80% !important; } }

@media screen and (min-width: 45em) {
  .u-1\/1-lap-and-up {
    width: 100% !important; }
  .u-1\/2-lap-and-up {
    width: 50% !important; }
  .u-1\/3-lap-and-up {
    width: 33.33333% !important; }
  .u-2\/3-lap-and-up {
    width: 66.66667% !important; }
  .u-1\/4-lap-and-up {
    width: 25% !important; }
  .u-2\/4-lap-and-up {
    width: 50% !important; }
  .u-3\/4-lap-and-up {
    width: 75% !important; }
  .u-1\/5-lap-and-up {
    width: 20% !important; }
  .u-2\/5-lap-and-up {
    width: 40% !important; }
  .u-3\/5-lap-and-up {
    width: 60% !important; }
  .u-4\/5-lap-and-up {
    width: 80% !important; } }

@media screen and (max-width: 63.9375em) {
  .u-1\/1-portable {
    width: 100% !important; }
  .u-1\/2-portable {
    width: 50% !important; }
  .u-1\/3-portable {
    width: 33.33333% !important; }
  .u-2\/3-portable {
    width: 66.66667% !important; }
  .u-1\/4-portable {
    width: 25% !important; }
  .u-2\/4-portable {
    width: 50% !important; }
  .u-3\/4-portable {
    width: 75% !important; }
  .u-1\/5-portable {
    width: 20% !important; }
  .u-2\/5-portable {
    width: 40% !important; }
  .u-3\/5-portable {
    width: 60% !important; }
  .u-4\/5-portable {
    width: 80% !important; } }

@media screen and (min-width: 64em) {
  .u-1\/1-desk {
    width: 100% !important; }
  .u-1\/2-desk {
    width: 50% !important; }
  .u-1\/3-desk {
    width: 33.33333% !important; }
  .u-2\/3-desk {
    width: 66.66667% !important; }
  .u-1\/4-desk {
    width: 25% !important; }
  .u-2\/4-desk {
    width: 50% !important; }
  .u-3\/4-desk {
    width: 75% !important; }
  .u-1\/5-desk {
    width: 20% !important; }
  .u-2\/5-desk {
    width: 40% !important; }
  .u-3\/5-desk {
    width: 60% !important; }
  .u-4\/5-desk {
    width: 80% !important; } }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .u-1\/1-retina {
    width: 100% !important; }
  .u-1\/2-retina {
    width: 50% !important; }
  .u-1\/3-retina {
    width: 33.33333% !important; }
  .u-2\/3-retina {
    width: 66.66667% !important; }
  .u-1\/4-retina {
    width: 25% !important; }
  .u-2\/4-retina {
    width: 50% !important; }
  .u-3\/4-retina {
    width: 75% !important; }
  .u-1\/5-retina {
    width: 20% !important; }
  .u-2\/5-retina {
    width: 40% !important; }
  .u-3\/5-retina {
    width: 60% !important; }
  .u-4\/5-retina {
    width: 80% !important; } }

/*------------------------------------*    #CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
.clearfix:after,
.media:after {
  content: "";
  display: table;
  clear: both; }
