/*
  Utility for generating color util classes.
*/
.carousel .bg--black {
  background-color: #000; }

.carousel .tx--black {
  color: #000; }

.carousel .bg--skyblue {
  background-color: #419EDA; }

.carousel .tx--skyblue {
  color: #419EDA; }

.carousel .bg--white {
  background-color: #FFF; }

.carousel .tx--white {
  color: #FFF; }

.carousel .bg--darkblue {
  background-color: #032B5A; }

.carousel .tx--darkblue {
  color: #032B5A; }

.carousel .bg--grey {
  background-color: grey; }

.carousel .tx--grey {
  color: grey; }

.carousel--item-link {
  text-decoration: none; }
  .carousel--item-link:hover .carousel--link {
    text-decoration: underline; }

.carousel--item-content {
  font-weight: 100; }
  // .carousel--item-content.light .carousel--item-title,
  // .carousel--item-content.light .carousel--item-blurb {
  //   color: #032B5A; }
  .carousel--item-content.light .carousel--link {
    color: #419EDA;
    background-position: 0 -32px; }
    @media (min-width: 575px) {
      .carousel--item-content.light .carousel--link {
        background-position: 0 6px; } }
  .carousel--item-content .carousel--item-title,
  .carousel--item-content .carousel--item-blurb,
  .carousel--item-content .carousel--link {
    color: #FFF; }
  .carousel--item-content .carousel--item-title {
    font-size: 22px;
    font-size: 1.375rem; }
  .carousel--item-content .carousel--item-blurb {
    font-size: 12px;
    font-size: 0.75rem; }
  .carousel--item-content .carousel--link {
    font-size: 14px;
    font-size: 0.875rem;
    padding: 4px 0 4px 20px;
    white-space: nowrap;
    line-height: 1em;
    background-image: url("../img/arrows-sprite.png");
    background-repeat: no-repeat;
    background-position: 0 -92px; }
  @media (min-width: 575px) {
    .carousel--item-content .carousel--item-title {
      font-size: 40px;
      font-size: 2.875rem;
       }
    .carousel--item-content .carousel--item-blurb {
      font-size: 16px;
      font-size: 1rem;
      margin-bottom: 20px; }
    .carousel--item-content .carousel--link {
      font-size: 25px;
      font-size: 1.5625rem;
      background-position: 0 -56px;
      padding-left: 31.25px; } }

.carousel .grid-inner {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto; }

.carousel {
  box-sizing: border-box;
  height: 240px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: transparent; }
  .carousel * {
    box-sizing: border-box; }

.carousel--content {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #EFEFEF;
}

@media (min-width: 575px) {
  .carousel {
    height: 300px; } }

@media (min-width: 768px) {
  .carousel {
    height: 400px; } }

.carousel--item {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  display: table-cell;
  vertical-align: middle; }
  .carousel--item.__current {
    z-index: 1;
    display: block; }
  .carousel--item.__prev {
    left: -100%;
    display: block; }
  .carousel--item.__next {
    left: 100%;
    display: block; }
  .carousel--item .grid-inner {
    height: 100%; }

.carousel--item-content {
  width: 60%;
  padding: 25px 0 40px 20px;
  height: 100%;
  position: relative; }
  .carousel--item-content .carousel--item-title {
    margin: 0 0 8px 0;
    padding: 0;
    font-weight: 100;
    line-height: 1em; }
    @media (min-width: 575px) {
      .carousel--item-content .carousel--item-title {
        font-size: 40px;}}
    @media (min-width: 920px){
      .carousel--item-content .carousel--item-title {
      font-size: 46px;
      font-size: 2.875rem;}}
  @media (min-width: 575px) {
    .carousel--item-content {
      float: right;
      width: 50%;
      padding: 50px 40px 40px 0; } }

.carousel--action {
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-image: url("../img/carousel-prev.png");
  cursor: pointer; }
  .carousel--action:active {
    background-color: #000; }
  .carousel--action.show__next {
    left: 100%;
    margin-left: -40px;
    background-image: url("../img/carousel-next.png"); }
  @media (min-width: 575px) {
    .carousel--action {
      background-color: rgba(0, 0, 0, 0.5);
      top: -130px; } }
  @media (min-width: 768px) {
    .carousel--action {
      top: -180px; } }

.carousel--pip-bar {
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 2;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center; }
  @media (min-width: 575px) {
    .carousel--pip-bar {
      background-color: transparent; } }
  @media (min-width: 768px) {
    .carousel--pip-bar {
      max-width: 1190px;
      margin: 0 auto; } }

.carousel--item-pip-wrapper {
  width: 12px;
  height: 100%;
  display: inline-block;
  position: relative; }
  .carousel--item-pip-wrapper b {
    display: none; }

.carousel--item-pip {
  width: 12px;
  height: 12px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  border-radius: 100%;
  cursor: pointer; }
  .carousel--item-pip.__is-active {
    background-color: #419EDA; }

@media (max-width: 575px) {
  .carousel--item-pip {
    background-image: none !important; } }

@media (min-width: 575px) {
  .carousel--item-pip-wrapper {
    display: inline-block;
    width: 110px;
    position: relative; }
  .carousel--item-pip {
    width: 100%;
    height: 54px;
    top: 10px;
    border: none !important;
    border-radius: 0;
    margin-top: 0;
    transition: top 0.15s ease 0s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .carousel--item-pip:hover {
      top: 0; }
    .carousel--item-pip b {
      display: block;
      height: 20px;
      padding: 0 5px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 20px;
      font-size: 10px;
      font-weight: 400; }
    .carousel--item-pip.__is-active {
      top: -14px; }
      .carousel--item-pip.__is-active b {
        display: none; }
      .carousel--item-pip.__is-active.is__showing-timer:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 2px;
        background-color: grey; }
      .carousel--item-pip.__is-active .carousel--timer {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 2px; } }
