.scrolling-bg{
	position: relative;
	min-height: 100%;
	box-shadow: 0 0 50px rgba(#000, 0.5);
	// z-index: index($bg-elements, scrolling-bg);
}

.fixed-bg{
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: -1;
	// z-index: index($bg-elements, fixed-bg);
}

.whiteStripe{
	height: 40px;
	background-color: $color-background;
	width: 100%;
}
.blueStripe{
	background-color: $mainBlue;
	height: 20px;
	margin-top: 20px;
	width: 100%;
}


.intro--container{
	padding: 135px 20px 155px 20px;
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}


.intro--container__content{
	border-top: solid 4px $mainBlue;
	margin-top: 35px;
	padding-top: 35px;
	text-align: justify;
}


.stopthejump{
	display: none;
	height: 100px;
	width: 100%;
}


.imageContainer{
	height: 390px;
	width: 100%;
	// padding-bottom: 40px;

	.leftImage{
		background-size: cover;
		background-repeat: none;
		background-position: center center;
		height: 100%;
		width: 49%;
		float: left;
	}

	.rightImage{
		background-size: cover;
		background-position: center center;
		height: 100%;
		width: 49%;
		float: right;
	}
}

.no-padding{
	padding-bottom: 0 !important;
}

@media #{$viewport-tablet} {
	.imageContainer{
		height: 800px;

		.leftImage{
			display: block;
			float: none;
			width: 100%;
			height: 400px;
			margin-bottom: 10px;
		}

		.rightImage{
			display: block;
			float: none;
			width: 100%;
			height: 400px;

		}
	}

}


@media #{$viewport-mobile} {

	.intro--container{
		padding-top: 50px;
		padding-bottom: 40px;
	}

	.intro--container__content{
		padding-top: 20px;
		margin-top: 20px;
	}

	.imageContainer{
		height: 400px;

		.leftImage{
			display: block;
			float: none;
			width: 100%;
			height: 200px;
			margin-bottom: 10px;
		}

		.rightImage{
			display: block;
			float: none;
			width: 100%;
			height: 200px;

		}
	}

	.stopthejump{
		height: 0px;
	}
}


















