.scrolling-bg{
	position: relative;
	min-height: 100%;
	box-shadow: 0 0 50px rgba(#000, 0.5);
	// z-index: index($bg-elements, scrolling-bg);
}

.fixed-bg{
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: -1;
	// z-index: index($bg-elements, fixed-bg);
}

.whiteStripe{
	height: 40px;
	background-color: white;
	width: 100%;
}
.blueStripe{
	background-color: $mainBlue;
	height: 20px;
	margin-top: 20px;
	width: 100%;
}


.intro--container{
	padding: 135px 20px 155px 20px;
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}


.intro--container__content{
	border-top: solid 4px $mainBlue;
	margin-top: 35px;
	padding-top: 35px;
	text-align: justify;
}


.stopthejump{
	display: none;
	height: 100px;
	width: 100%;
}


.imageContainer{
		height: 390px;
		width: 100%;
		// padding-bottom: 40px;

		.leftImage{
			background-size: cover;
			height: 100%;
			width: 49%;
			float: left;
		}

		.rightImage{
			background-size: cover;
			height: 100%;
			width: 49%;
			float: right;
		}
	}