.scrolling-bg{
	position: relative;
	min-height: 100%;
	background-color: $color-background;
	// box-shadow: 0 0 50px rgba(#000, 0.5);
	// z-index: index($bg-elements, scrolling-bg);
}

.fixed-bg{
	height: 100%;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('../img/homescreen-bg.jpg');
	// z-index: -1;
}

	// .scrolling-bg{
	// 	// background-size: cover;
	// 	background-color: $mainGrey !important;
	// 	z-index: 1;
	// 	min-height: 100%;
	// 	box-shadow: 0 0 50px rgba(#000, 0.5);
	// }
	//
	.fixed-bg{
		overflow: hidden; // added for pseudo-element
	  	position: relative;

		&::before {
			content: ' ';
    		position: fixed; // instead of background-attachment
	     	width: 100%;
	     	height: 100%;
	     	top: 0;
	     	left: 0;
	     	background-color: white;
		 	background: url('/img/homescreen-bg.jpg') no-repeat center center;
		   	background-size: cover;
		   	will-change: transform;
		    background-attachment: scroll;
		   	z-index: -1;
		 }
	}



.whiteStripe{
	height: 40px;
	background-color: $color-background;
	width: 100%;
}
.blueStripe{
	background-color: $mainBlue;
	height: 20px;
	width: 100%;
}


.intro--container{
	padding: 135px 20px 155px 20px;
	margin: 0 auto;
	max-width: 600px;
	width: 100%;


	&--noBPadding{
		padding-bottom: 00px;
	}
}

.intro--container__content{
	border-top: solid 4px $mainBlue;
	margin-top: 35px;
	padding-top: 35px;
	text-align: justify;
}

.stopthejump{
	display: none;
	height: 80px;
	width: 100%;
}

.imageContainer{
	height: 390px;
	width: 100%;
	// padding-bottom: 40px;

	.leftImage{
		background-size: cover;
		background-repeat: none;
		background-position: center center;
		height: 100%;
		width: 49%;
		float: left;
	}

	.rightImage{
		background-size: cover;
		background-position: center center;
		height: 100%;
		width: 49%;
		float: right;
	}
}

.no-padding{
	padding-bottom: 0 !important;
}

@media #{$viewport-tablet} {
	.imageContainer{
		height: 800px;

		.leftImage{
			display: block;
			float: none;
			width: 100%;
			height: 400px;
			margin-bottom: 10px;
		}

		.rightImage{
			display: block;
			float: none;
			width: 100%;
			height: 400px;

		}
	}

	.intro--container{
		padding-bottom: 65px;
		padding-top: 85px;
	}

}


@media #{$viewport-mobile} {

	.fixed-bg{
		background-attachment: scroll;

	}

	.intro--container{
		padding-top: 50px;
		padding-bottom: 40px;
	}

	.intro--container__content{
		padding-top: 20px;
		margin-top: 20px;
		margin-left: 20px;
    	margin-right: 20px;
	}

	.imageContainer{
		height: 400px;

		.leftImage{
			display: block;
			float: none;
			width: 100%;
			height: 200px;
			margin-bottom: 10px;
		}

		.rightImage{
			display: block;
			float: none;
			width: 100%;
			height: 200px;

		}
	}

	.stopthejump{
		height: 0px;
	}
}
