$viewport-wide-screen: 'screen and (min-width: 1650px)';

$viewport-tablet: 'screen and (min-width: 768px) and (max-width: 1120px)';

$viewport-mobile: 'screen and (max-width: 767px)';




// $viewport-tablet-portrait: 'screen and (min-device-width: 768px) and (orientation: portrait)';
// $viewport-mobile-landscape: 'screen and (max-device-width: 767px) and (orientation: landscape)';