/**
 * @module:   gallery
 * @js:       ./source/js/module/gallery/gallery.js
 * @html:     ./source/js/module/gallery/gallery.html
 */


@include module("gallery") {

	.mosaic--container{
		// border: solid 1px black;
		margin: 0 auto;
		margin-bottom: 75px;
		width: 94%;
		max-width: 1290px;
		height: 1380px;

		.mosaic--element{
			display: inline-block;
			height: 100%;
			width:  100%;
		}

		.mosaic--container__top{
			display: block;
			height: 600px;
			padding-bottom: 20px;

			.mosaic--top__left{
				background: url('../img/mosaic-img1.jpg') no-repeat;
				background-size: cover;
				width: 32%;
				margin-right: 20px;
			}

			.mosaic--block{
				display: inline-block;
				height: 100%;
				vertical-align: top;
				width: 64%;

				.mosaic--top__topMiddle{
					background: url('../img/mosaic-img2.jpg') no-repeat;
					background-size: cover;
					display: inline-block;
					height: 45%;
					width: 48%;
					margin-bottom: 20px;
					margin-right:20px;
				}

				.mosaic--top__topRight{
					background: url('../img/mosaic-img3.jpg') no-repeat;
					background-size: cover;
					height: 45%;
					display: inline-block;
					width: 49%;
					margin-bottom: 20px;
				}


				.mosaic--top__bottomRight{
					background: url('../img/mosaic-img4.jpg') no-repeat;
					background-size: cover;
					display: block;
					height: 50%;
					width: 100%;
					float: right;
				}
			}
		}

		.mosaic--container__middle{
			height: 420px;
			display: block;
			margin-bottom: 20px;

			.mosaic--middle__left{
				background: url('../img/mosaic-img5.jpg') no-repeat;
				background-size: cover;
				width: 32%;
				margin-right: 20px;
			}
			.mosaic--middle__middle{
				background: url('../img/mosaic-img6.jpg') no-repeat;
				background-size: cover;
				width: 32%;
				margin-right: 20px;
			}
			.mosaic--middle__right{
				background: url('../img/mosaic-img7.jpg') no-repeat;
				background-size: cover;
				width: 32%;
			}
		}

		.mosaic--container__bottom{
			height: 320px;
			display: block;

			.mosaic--bottom__left{
				background: url('../img/mosaic-img8.jpg') no-repeat;
				background-size: cover;
				width: 49%;
				margin-right: 20px;
			}

			.mosaic--bottom__right{
				background: url('../img/mosaic-img9.jpg') no-repeat;
				background-size: cover;
				width: 49%;

			}
		}

	}
}
