/**
 * @module:   gallery
 * @js:       ./source/js/module/gallery/gallery.js
 * @html:     ./source/js/module/gallery/gallery.html
 */


@include module("gallery") { 
  // :)
	.galleryImages{
		background-color: red;
		border: solid red 5px;
		height: 2000px;
		width: 300px;
	}
}
