/**
 * @module:   home
 * @js:       ./source/js/module/home/home.js
 * @html:     ./source/js/module/home/home.html
 */


@include module("home") {
	// background-color: $color-background;

	.imageContainer{
		.leftImage{
			background-image: url('../img/left-home-img-2.jpg');
		}

		.rightImage{
			background-image: url('../img/right-home-img.jpg');
		}
	}


	.quotePanel{
		height: 330px;
		background-color: $mainBlue;
		display: table;
		width: 100%;

		.quotePanel--content{
			display: table-cell;
			vertical-align: middle;

			p{
				color: $color-background;
				text-align: center;
				font-size: 30px;
				line-height: 30px;
			}
		}
	}


	.contactPanel{
		padding: 70px;
		text-align: center;

		.emailImg{
			background: url('../img/mailIcon.png') no-repeat 100%;
			height: 30px;
			width: 40px;
			margin-left: -20px;
			left: 50%;
			position: absolute;
			margin-bottom: 30px;
		}

		h2{
			margin-top: 60px;
		}

		.email{
			padding-top:10px;
		}

		.number{
			padding-top:10px;
		}

		a{
			text-transform: none;
			font-weight: normal;
			font-family: $content-font;
			text-decoration: none;
			cursor: pointer;

			&:hover{
				border-bottom: 2px solid $mainBlue;
			}
		}
	}


	@media #{$viewport-mobile} {

		.quotePanel{
			.quotePanel--content{
				p{
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}

		a{
			font-size: 15px;
			width: 100%;
			text-align: center;
		}

	}
}
