/**
 * @module:   home
 * @js:       ./source/js/module/home/home.js
 * @html:     ./source/js/module/home/home.html
 */


@include module("home") { 
	.imageContainer{
		.leftImage{
			background-image: url('../img/left-home-img.jpg');
		}

		.rightImage{
			background-image: url('../img/right-home-img.jpg');
		}
	}


	.quotePanel{
		height: 330px;
		background-color: $mainBlue;
		display: table;
		width: 100%;

		.quotePanel--content{
			display: table-cell;
			vertical-align: middle;

			p{
				color: $color-background;
				text-align: center;
				font-size: 30px;
			}
		}
	}


	.contactPanel{
		padding: 70px;
		text-align: center;

		.email{
			padding-top:10px;
		}

		.number{
			padding-top:10px;
		}
	}
}
