/**
 * @module:   info
 * @js:       ./source/js/module/info/info.js
 * @html:     ./source/js/module/info/info.html
 */


@include module("info") {
  	.imageContainer{
		.leftImage{
			background-image: url('../img/left-info-img.jpg');
		}

		.rightImage{
			background-image: url('../img/right-info-img.jpg');
		}
	}

	.floorPlanPanel{
		background-color: $mainBlue;

		width: 100%;
		text-align: center;
		display: table;

		img{
			display: inline-block;
			vertical-align: middle;
			padding: 70px 20px;
		}
	}

	.accomodation{
		background-color: $mainGrey;
		width: 100%;
	}

	@media #{$viewport-mobile}{
		.floorPlanPanel{
			img{
				padding: 40px 20px;
			}
		}
	}
}
