/**
 * @module:   localArea
 * @js:       ./source/js/module/localArea/localArea.js
 * @html:     ./source/js/module/localArea/localArea.html
 */


@include module("localArea") {
	.imageContainer{
		.leftImage{
			background-image: url('../img/img--eygalieres__left.jpg');
		}

		.rightImage{
			background-image: url('../img/img--eygalieres__right.jpg');
		}
	}

	.map--panel{
		#map{
			width: 100%;
        	height: 400px;
			background-color: #CCC;
		}
	}

	.nearestVillage--panel{
		padding-top: 70px;


		.house{
			background: url('../img/house.png') no-repeat;
			background-size: 100%;
			height: 45px;
			margin: 0 auto;
			margin-bottom: 25px;
			width: 54px;
		}

		h2{
			margin-bottom: 60px;
		}

		ul{
			background-color: transparent;
			box-shadow: none;
			padding: 0 120px;
			margin: 0 auto;
			text-align: center;
			margin-bottom: 75px;

			li{
				background-color: $mainGrey;
				display: inline-block;
				width: 30%;
				padding: 30px 0;
				margin: 10px;
				text-align: center;


				&.active, &:hover{
					background-color: $mainBlue;
				}

				a{
					font-size: 20px;
					text-decoration: none;
					color: $font-color;
				}

			}
		}

	}

	.mapHeading{
		padding-bottom: 40px;

		.intro--container__content{
			margin-top: 10px;
			padding-top:0px;
		}
	}

	.nearestVillage--info{
		background-color: $mainGrey;
		width: 100%;

		h3{
			font-size: 20px;
			padding-bottom: 30px;
			font-weight: normal;
		}


	  	.tab-pane {
  			display: block;
	  		margin: 0 auto;

	  		.content--main{
				padding: 70px 0;
				width: 80%;
				margin: 0 auto;

	  			.content--main__writingTop{
	  				display: inline-block;
	  				width: 40%;
	  				vertical-align: top;
	  				padding-right: 20px;


		  			p{
		  				padding-bottom: 20px;
		  			}
	  			}


	  			.content--main__img{
	  				height: 250px;
	  				width: 59%;
	  				display: inline-block;

	  				&.arles{
	  					background: url('../img/img--village__arles.jpg') no-repeat;
	  					background-size: contain;
	  				}

					&.lesBaux{
	  					background: url('../img/img--village__lesBaux.jpg') no-repeat;
	  					background-size: contain;
	  				}

					&.stRem{
	  					background: url('../img/img--village__stRemy.jpg') no-repeat;
	  					background-size: contain;
	  				}

					&.marseille{
	  					background: url('../img/img--village__marseille.jpg') no-repeat;
	  					background-size: contain;
	  				}

					&.avignon{
	  					background: url('../img/img--village__avignon.jpg') no-repeat;
	  					background-size: contain;
	  				}

	  				&.aix{
	  					background: url('../img/img--village__aix.jpg') no-repeat;
	  					background-size: contain;
	  				}
	  			}

	  			.content--main__writingBottom{
	  				p{
	  					padding-bottom: 20px;
	  				}
	  			}
	  		}

	  		.content--second{
	  			width: 80%;
	  			margin: 0 auto;

	  			.content--second__block{
	  				vertical-align: top;
	  				display: inline-block;
	  				width: 30%;
	  				padding: 40px 20px;

	  				p{
	  					line-height: 25px;
	  				}
	  			}
	  		}
	  	}
	}

	@media #{$viewport-tablet} {
		.nearestVillage--panel{
			ul{
				padding: 0 100px;
				li{
					width: 46%;
					padding: 20px;
				}
			}
		}
	}

	@media #{$viewport-mobile} {
		.nearestVillage--panel{
			padding-top: 35px;

			h2{
				margin-bottom: 25px;
			}

			ul{
				padding: 0 10px;
				text-align: center;

				li{
					width: 80%;
					padding: 15px;
					margin: 5px;
				}
			}
		}

		.nearestVillage--info{

			h3{
				padding-bottom: 15px;
			}

			.tab-pane{
				.content--main{
					width: 90%;

					.content--main__writing{
						width: 100%;
						padding-right: 0px;
						text-align: justify;
					}

					.content--main__img{
						display: block;
						margin: 0 auto;
					}

				}

				.content--second{
	  				width: 90%;
	  				margin: 0 auto;

		  			.content--second__block{
		  				display: block;
		  				width: 100%;
		  			}
		  		}
			}
		}
	}
}
