/**
 * @module:   nav
 * @js:       ./source/js/module/nav/nav.js
 * @html:     ./source/js/module/nav/nav.html
 */


@include module("nav") {
	background-color: $mainGrey;
	width: 100%;
	z-index: 2;
	box-shadow: 0 2px 3px rgba(0,0,0,.4);

	.navbar--container{
		width: 85%;
		margin: 0 auto;
		text-align: center;

		li{
			display: inline-block;
			width: 17%;
			text-align: center;
			text-decoration: none;
			padding: 40px 20px;
			min-width: 200px;
		}
	}

	.main-nav-sccrolled{
		position: fixed;
  		width: 100%;
  		top: 0;

	}
}
