/**
 * @module:   nav
 * @js:       ./source/js/module/nav/nav.js
 * @html:     ./source/js/module/nav/nav.html
 */


@include module("nav") {
	background-color: $mainGrey;
	// border-top: 1px solid grey;
	width: 100%;
	z-index: 2;
	height: 80px;
	box-shadow: 2px 2px 3px rgba(0,0,0,.4);

	.burger{
		display: none;
	}

	.navbar--container{
		text-align: center;
		width: 85%;
		max-width: 1100px;
		margin: 0 auto;

		@media screen and (max-width:900px){
			width: 100%;
		}

		li{
			display: inline-block;
			width: 10%;
			text-align: center;
			text-decoration: none;
			padding: 35px 0px 15px;
			margin: 0 20px;
			min-width: 160px;
			border-bottom: 10px solid $mainGrey;
			cursor: pointer;

			&.nav-underline {
  				position: relative;

				&:after{
				  display: block;
				  position: absolute;
				  left: 0;
				  bottom: -10px;
				  width: 0;
				  height: 10px;
				  background-color: $mainBlue;
				  content: "";
				  transition: width 0.3s;
				}

				&:hover:after {
				  width: 100%;
				}

			}

			&.active{
				border-bottom: 10px solid $mainBlue;
			}
		}
	}

	&.fixed {
		position: fixed;
		top: 0;
		height: 80px;
		z-index: 1;
	}

	@media screen and (max-width: 1200px){
		.navbar--container{
			li{
				font-size: 15px;
				min-width: 100px;
			}
		}
	}


	@media #{$viewport-mobile}{
		background-color: $mainBlue;
		position: fixed;
		top: 0px;
		left: 0px;
		height: auto;
		display: block;


		.burger{
			display: block;
			position: fixed;
			left: 10px;
			top: 10px;
			z-index: 2;


			.burger--bar{
				background-color: $mainGrey;
				margin: 3px 0;
				height: 4px;
				width: 25px;
			}
		}


		.navbar--container{
			text-align: left;
			width: 100%;
			margin: 0 auto;
			padding-left: 35px;
			display: block;
			position: absolute;
			background-color: $mainBlue;
			transform: translateY(-100%);
			transition: transform 0.3s ease;

			&.activeBurger{
				display: block;
				transition: transform 0.5s ease;
				transform: translateY(0%);
			}

			li{
				color: $mainGrey;
				min-width: auto;
				width: 100%;
				margin: 0px;
				padding: 15px 10px;
				text-align: left;
				border-bottom: solid 1px $mainGrey;

				&:nth-last-child(1){
					border-bottom: solid 1px transparent;
				}

				&.nav-underline{
					&:after{
						display: none;
					}
				}

				&.active{
					border-bottom: 1px solid $mainGrey;
					font-weight: bold;

				}
			}
		}

		&.fixed{
			height: auto;
			// display: none;
		}
	}
}
